* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* margin-top: 20px;
  margin-left: 20px; */
  background-color: black;
}
.mouse {
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  /* padding-top: 10px; */
  /* padding-left: 20px; */
  width: 1507px;
  height: 672px;
}

.coin {
  position: absolute;
  top: 1.5%;
  left: 2%;
  display: flex;
  gap: 10px;
  font-size: 40px;
  align-items: center;
  color: gold;
  border-right: 2px solid white;
  padding-right: 30px;
  height: 80px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  z-index: -1;
}

.tower {
  position: absolute;
  left: 15.5%;
  top: 1.5%;
  display: flex;
  align-items: center;

  border-radius: 20px;
  /* overflow: hidden; */
  gap: 30px;
  color: white;
  font-size: 20px;
}

.tower__list {
  display: flex;
  gap: 30px;
}

.tower .icon {
  width: 80px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

#tower__0 {
  background-color: #08405d;
  border-radius: 20px;
}

.tower .icon:hover {
  filter: grayscale(50%);
}

img {
  width: 100%;
}

#tower__1 {
  position: relative;
}

.tower__info {
  position: absolute;
  top: 100%;
  /* right: -80%; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  z-index: 10;
  width: 200px;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
  font-size: 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  display: none;
}

#tower__1:hover .tower__info {
  display: flex;
}
#tower__2:hover .tower__info {
  display: flex;
}
#tower__3:hover .tower__info {
  display: flex;
}
#tower__0:hover .tower__info {
  display: flex;
}

#tower__0 .tower__info {
  width: 300px;
  text-align: start;
}

.title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0.2%;
  right: 2%;
  border-left: 2px solid white;
  padding-left: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.wave {
  font-size: 30px;
  position: absolute;
  top: 1.5%;
  left: 69%;
  color: white;
  height: 80px;
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  justify-content: center;
}
